/*
 * 縦書きサイトcss設定
 */

.tate {
    direction:ltr;

    /* IE用縦書き */
    writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;

    /* Chrome用縦書き */
    -webkit-writing-mode: vertical-rl;
    -webkit-transform-origin: left top;
    -webkit-transform:translate(-0.1em,0em);
}

div.tate{
    position : relative;
    float:right;
    width:1em;
    line-height:1em;
    word-wrap:break-word;
}

