<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>
  <body>
    <div id="container">
      <div id="side">
        <a href="/" id="home" title="home" alt="home"><img src="/img/logo.png" alt="Site Name" /></a>
        <div id="hometext"><a href="/" >Site Name</a></div>
        <div class="section">
          <ul>
            <li><a href="/about.html">about</a></li>
            <li><a href="/rss.xml"><img src="/img/25.png" /> feed</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        {{content}}
      </div>
    </div>
  </body>
</html>